
<div class="tabs-content">
  <% form_for :account, url(:accounts, :create), :class => 'form-horizontal' do |f| %>
    <% error = @account.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @account.errors.include?(:surname) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :blog_name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :surname, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:surname) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @account.errors.include?(:email) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :email, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :email, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:email) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @account.errors.include?(:password) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :password, :class => 'control-label' %>
  <div class='controls'>
    <%= f.password_field :password, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:password) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @account.errors.include?(:password_confirmation) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :password_confirmation, :class => 'control-label' %>
  <div class='controls'>
    <%= f.password_field :password_confirmation, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:password_confirmation) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @account.errors.include?(:role) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :role, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :role, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:role) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:Confirm), :class => 'btn btn-primary' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:sessions, :new), :class => 'btn btn-default' %>
</div>
 <% end %>
</div>