<div class="blog-header">
	<h1 class="blog-title"><%= @post.title %></h1>
	<p class="lead blog-description">
		Created by <%= @post.account.name %> on <%= @post.created_at.strftime("%Y-%m-%d") %>
	</p>
	<%= link_to '<< View all posts', url(:posts, :index) %>
</div>
<div class="row">
	<div class="col-sm-12 blog-main">
		<div class="blog-post">
			<p id="content-<%= @post.id %>"><%= @post.body %></p>
		</div>
	</div>
</div>

<!-- Markdown Parser -->
<%= javascript_include_tag 'marked' %>

<script>
	var tmp = document.getElementById("content-<%= @post.id %>").innerHTML
	document.getElementById("content-<%= @post.id %>").innerHTML = marked(tmp);
</script>